<%- include('layouts/outer-header') %>
  <div id="landing">
    <section>
      <p>
        Whiteboard + RaveSpace =
      </p>
      <h1>
        white[ ]space
      </h1>
      <p>
        A simple whiteboarding tool that is heavily based on the open source library <a
          href="https://github.com/spacedeck/spacedeck-open">Spacedeck</a> and hosted by <a
          href="https://ravespace.io">RAVE SPACE</a>.
      </p>
    </section>
  </div>